@charset "UTF-8";
/** @format */
@font-face {
  font-family: "Averia";
  src: url("/font/AveriaLibre-Regular.ttf");
}
@font-face {
  font-family: "Bebas";
  src: url("/font/Bebas-Regular.ttf");
}
@font-face {
  font-family: "Boogaloo";
  src: url("/font/Boogaloo-Regular.ttf");
}
@font-face {
  font-family: "awesome";
  src: url("/font/fonts/fontawesome-webfont.woff");
}
@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto.woff");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

img,
video {
  max-width: 100%;
  vertical-align: middle;
}

/** @components */
/** @page */
.fixed {
  position: fixed;
}
.fixed.phone {
  top: 75vh;
  left: 34px;
}
.fixed.messenger {
  top: 90vh;
  left: 50px;
}

.btn--readMore {
  background-color: transparent;
  border: none;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  transition: transform 0.3s ease-out;
}

.arrow::after {
  display: inline-block;
  padding-left: 19px;
  content: "➞";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.arrow:hover::after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -o-transform: translateX(8px);
  transform: translateX(8px);
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.hero {
  background-image: url("/img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tintuc {
  padding-top: 235px;
  padding-bottom: 235px;
}
.tintuc__heading {
  font: normal normal 800 18px/22px Montserrat;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
}
.tintuc__heading::after {
  content: "";
  display: block;
  width: 64px;
  height: 0px;
  border: 2px solid #fefefe;
  background-color: #ffffff;
  margin-top: 10px;
}
.tintuc__title {
  font: normal normal bold 45px/65px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 36.5px;
  margin-bottom: 36.5px;
}
.tintuc__desc {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 75.5px;
}

.nav {
  background: #112047 0% 0% no-repeat padding-box;
  padding-top: 41px;
  padding-bottom: 41px;
}
.nav__list {
  display: flex;
  gap: 135px;
}
.nav__link {
  font: normal normal bold 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #777777;
  transition: color 0.3s ease;
}
.nav__link--active, .nav__link:hover {
  color: #ffffff;
}

.article-list {
  padding-top: 118px;
  padding-bottom: 156px;
}
.article-list__grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(360px, 476px));
  column-gap: 47px;
  row-gap: 156px;
  margin-bottom: 150px;
}

.article__image {
  margin-bottom: 53px;
  overflow: hidden;
}
.article__image img {
  transition: transform 0.5s ease;
}
.article__image:hover img {
  transform: scale(1.2);
}
.article__category {
  display: inline-block;
  font: normal normal medium 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #989898;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.article__title {
  font: normal normal bold 25px/40px Montserrat;
  letter-spacing: 0px;
  margin-bottom: 32px;
  color: #112047;
  transition: color 0.3s ease;
}
.article__title:hover {
  color: #f36827;
}
.article .btn--readMore {
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #838383;
}
.article-btn {
  width: 221px;
  height: 65px;
  border: 1px solid #f36827;
  background-color: transparent;
  text-align: center;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #f36827;
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease-in-out;
}
.article-btn:hover span {
  display: none;
}
.article-btn:hover {
  background-color: #f36827;
  color: #fff;
}
.article-btn:hover::before {
  content: "Xem toàn Bộ";
}

.contact {
  background: #f37022 0% 0% no-repeat padding-box;
  padding: 72px 0 192px;
  color: #fff;
}
.contact__heading {
  font: normal normal 800 18px/22px Montserrat;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
}
.contact__heading::after {
  content: "";
  display: block;
  width: 64px;
  height: 0px;
  border: 2px solid #fefefe;
  background-color: #ffffff;
  margin-top: 10px;
}
.contact__title {
  letter-spacing: 0px;
  margin-top: 35px;
  margin-bottom: 100px;
  color: #ffffff;
  font: normal normal normal 40px/50px Montserrat;
}
.contact__title--bold {
  display: block;
  font: normal normal bold 40px/50px Montserrat;
}
.contact__content {
  display: flex;
  flex-wrap: wrap;
}
.contact__content-left {
  flex-basis: 752px;
  flex: 1 0;
  margin-right: 70px;
}
.contact__content-right {
  flex-basis: 674px;
}
.contact__info {
  display: flex;
  justify-content: space-between;
}
.contact .info {
  display: flex;
}
.contact .info__content {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: normal normal bold 22px/35px Montserrat;
  color: #ffffff;
}
.contact .row {
  width: 100%;
  display: grid;
  grid: auto/auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
  margin-top: 63px;
}
.contact .row .col {
  width: 100%;
}
.contact .row .form-group input {
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid white;
  padding: 17px 0;
  font: normal normal 600 18px/22px Montserrat;
  color: #ffffff;
}
.contact .row .form-group input::placeholder {
  font: normal normal 600 18px/22px Montserrat;
  color: #ffffff;
}
.contact .row .form-group input:focus {
  outline: none;
}

/** @responsive */

/*# sourceMappingURL=style.css.map */
