.container {
  width: 100%;
  padding: 0 p(191);
}

.banner {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: p(852);
  display: flex;
  align-items: center;
  color: $text-color-1;
  &__heading {
    width: p(677);

    &__top {
      display: block;
      font-size: p(18);
      line-height: p(22);
      font-weight: 800;
      letter-spacing: 1.8px;
      margin-bottom: p(26);
      &::after {
        content: '';
        display: block;
        width: p(64);
        height: p(2);
        background-color: $underline-color-1;
        margin-top: p(10);
      }
    }
    &__bottom {
      display: block;
      font-size: p(45);
      line-height: p(65);
      font-weight: 700;
      letter-spacing: 0;
    }
  }
}

.nav {
  height: p(109);
  background-color: $primary-color;
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item a {
    font-size: p(25);
    line-height: p(30);
    font-weight: 700;
    color: $text-color-2;
    transition: color 0.3s ease-in-out;
    &:hover,
    &:active {
      color: $text-color-1;
    }
  }
}
.main {
  padding-top: p(123);
  padding-bottom: p(135);
}

.block {
  &__heading {
    display: inline-block;
    font-size: p(55);
    line-height: p(76);
    font-weight: 700;
    letter-spacing: 0;
    color: $primary-color;
    padding: p(15) p(26);
    position: relative;
    margin-bottom: p(82);
    &::before {
      content: '';
      border-top: p(5) solid $secondary-color;
      border-left: p(5) solid $secondary-color;
      position: absolute;
      width: p(30);
      height: p(30);
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      border-bottom: p(5) solid $secondary-color;
      border-right: p(5) solid $secondary-color;
      position: absolute;
      width: p(30);
      height: p(30);
      right: 0;
      bottom: 0;
    }
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__paragraph {
    font-size: p(20);
    line-height: p(40);
    font-weight: 400;
    color: $text-color-3;
    display: flex;

    &__1 {
      display: flex;
      flex-direction: column;
      width: p(532);
      margin-right: p(93);

      span:first-child {
        margin-bottom: p(30);
      }
    }
    &__2 {
      display: flex;
      flex-direction: column;
      width: p(532);
      span:first-child {
        margin-bottom: p(30);
      }
    }
  }

  &__locations {
    margin-top: p(48);
    &__plane {
      padding-top: p(36);
      padding-bottom: p(29);
      background: transparent
        linear-gradient(90deg, #f3702200 0%, #f26e2230 100%) 0% 0% no-repeat
        padding-box;
      color: $primary-color;
    }
    &__port {
      padding-top: p(65);
      padding-bottom: p(29);
      background: transparent
        linear-gradient(90deg, #11204700 0%, #11204730 100%) 0% 0% no-repeat
        padding-box;
      color: $secondary-color;
    }
  }
  .location-item {
    display: flex;
    justify-content: end;
    padding-right: p(24);
    &:not(:first-child) {
      margin-top: p(48);
    }
    &__1 {
      width: p(792);
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 100%;
        border-top: p(2) dashed $primary-color;
        position: absolute;
        top: 50%;
      }
      &.orange {
        &::before {
          border-color: $secondary-color;
        }
      }
      &__text {
        font-size: p(24);
        line-height: p(36);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 7%;
      }
      &__icon {
        position: absolute;
        width: p(116);
        height: p(45);
        top: -13%;
        left: 19%;
      }
    }
    &__2 {
      width: p(70);
      height: p(70);
      margin-left: p(18);
    }
    &__3 {
      width: p(143);
      font-size: p(24);
      line-height: p(36);
      font-weight: 700;
      margin-left: p(53);
    }
    &__4 {
      text-align: center;
      align-self: center;
      width: p(170);
      font-size: p(16);
      line-height: p(24);
      font-weight: 400;
      margin-left: p(72);
    }
  }
}
