@import '../abstracts/mixins';
@import '../abstracts/function';

.fixed {
  position: fixed;
  &.phone {
    top: p(795);
    left: p(34);
    width: p(113);
    @include MB {
      top: m(700);
      left: m(13);
      width: m(66);
    }
  }
  &.messenger {
    top: p(939);
    left: p(50);
    width: m(80);
    @include MB {
      top: m(784);
      left: m(22);
      width: m(47);
    }
  }
}

.btn {
  &--readMore {
    background-color: transparent;
    border: none;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    transition: transform 0.3s ease-out;
  }
}
.arrow {
  &::after {
    display: inline-block;
    padding-left: 19px;
    content: '\0279E'; // arrow right unicode
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    &::after {
      -webkit-transform: translateX(8px);
      -moz-transform: translateX(8px);
      -ms-transform: translateX(8px);
      -o-transform: translateX(8px);
      transform: translateX(8px);
    }
  }
}
.container {
  padding-left: p(191);
  padding-right: p(191);

  @include MB {
    padding-left: m(35);
    padding-right: m(35);
  }
}
.hero {
  background-image: url('/img/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: p(852);
  width: 100%;

  @include MB {
    height: m(863);
  }
}
.tintuc {
  padding-top: p(235);
  padding-bottom: p(235);

  @include MB {
    padding-top: m(311);
    padding-bottom: m(311);
  }
  &__heading {
    font-size: p(18);
    line-height: p(22);
    font-weight: 800;
    font-family: Montserrat;
    letter-spacing: p(1.8);
    color: #ffffff;

    @include MB {
      font-size: m(15);
      line-height: m(19);
      letter-spacing: m(1.5);
    }

    &::after {
      content: '';
      display: block;
      width: p(64);
      border: 2px solid #fefefe;
      background-color: #ffffff;
      margin-top: p(10);
      @include MB {
        width: m(53);
        margin-top: m(7);
      }
    }
  }
  &__title {
    // font: normal normal bold p(45) / p(65) Montserrat;
    font-family: Montserrat;
    font-size: p(45);
    line-height: p(65);
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: p(36.5);
    margin-bottom: p(36.5);
    @include MB {
      font-size: m(30);
      line-height: m(37);
      margin-top: m(25);
      margin-bottom: m(25);
    }
  }
  &__desc {
    font-size: p(20);
    font-weight: 500;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: p(75.5);
    @include MB {
      display: none;
    }
  }
}

.nav {
  background: #112047 0% 0% no-repeat padding-box;
  padding: p(41) 0;

  @include MB {
    padding: m(23) 0;
  }

  &__list {
    display: flex;
    gap: p(135);
    @include MB {
      gap: m(50);
    }
  }
  &__link {
    font-family: Montserrat;
    font-weight: 700;
    font-size: p(25);
    line-height: p(30);
    letter-spacing: 0px;
    color: #777777;
    transition: color 0.3s ease;
    @include MB {
      font-size: m(15);
      line-height: m(19);
    }
    &--active,
    &:hover {
      color: #ffffff;
    }
  }
}

.article-list {
  padding-top: p(118);
  padding-bottom: p(156);
  @include MB {
    padding-top: m(48);
    padding-bottom: m(77);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, p(476));
    column-gap: p(52);
    row-gap: p(156);
    margin-bottom: p(150);

    @include TB {
      grid-template-columns: repeat(2, 1fr);
    }

    @include MB {
      margin-bottom: m(70);
      grid-template-columns: repeat(1, m(360));
    }
  }
}

.article {
  &__image {
    margin-bottom: p(53);
    overflow: hidden;
    @include MB {
      margin-bottom: m(37);
    }
    & img {
      transition: transform 0.5s ease;
    }
    &:hover img {
      transform: scale(1.2);
    }
  }
  &__category {
    display: inline-block;
    font-family: Montserrat;
    font-size: p(18);
    line-height: p(22);
    font-weight: 400;
    letter-spacing: 0px;
    color: #989898;
    text-transform: uppercase;
    margin-bottom: p(32);
    @include MB {
      font-size: m(13);
      line-height: m(16);
      margin-bottom: m(28);
    }
  }
  &__title {
    font-family: Montserrat;
    font-size: p(25);
    line-height: p(40);
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: p(32);
    color: #112047;
    transition: color 0.3s ease;
    &:hover {
      color: #f36827;
    }
    @include MB {
      font-size: m(20);
      line-height: m(30);
      margin-bottom: m(39);
    }
  }
  .btn--readMore {
    font-family: Montserrat;
    font-size: p(18);
    line-height: p(22);
    font-weight: 600;
    letter-spacing: 0px;
    color: #838383;
    @include MB {
      font-size: m(13);
      line-height: m(16);
    }
  }

  &-btn {
    width: p(221);
    height: p(65);
    border: 1px solid #f36827;
    background-color: transparent;
    text-align: center;
    font-family: Montserrat;
    font-size: p(18);
    line-height: p(22);
    font-weight: 600;
    letter-spacing: 0px;
    color: #f36827;
    margin: 0 auto;
    display: block;
    transition: all 0.3s ease-in-out;
    @include MB {
      width: m(207);
      height: m(53);
      font-size: m(13);
      line-height: m(16);
    }

    &:hover span {
      display: none;
    }
    &:hover {
      &::before {
        content: 'Xem toàn Bộ';
      }
      background-color: #f36827;
      color: #fff;
    }
  }
}

.contact {
  background: #f37022 0% 0% no-repeat padding-box;
  padding: p(72) 0 p(192);
  color: #fff;
  &__heading {
    font-family: Montserrat;
    font-size: p(18);
    line-height: p(22);
    font-weight: 800;
    letter-spacing: p(1.8);
    color: #ffffff;
    text-transform: uppercase;
    @include MB {
      font-size: p(15);
      line-height: p(19);
      letter-spacing: p(1.5);
    }
    &::after {
      content: '';
      display: block;
      width: p(64);
      height: 0px;
      border: p(2) solid #fefefe;
      background-color: #ffffff;
      margin-top: p(10);
      @include MB {
        width: m(53);
        margin-top: m(14);
      }
    }
  }

  &__title {
    letter-spacing: 0px;
    margin-top: p(35);
    margin-bottom: p(100);
    color: #ffffff;
    font-family: Montserrat;
    font-size: p(40);
    line-height: p(50);
    font-weight: 400;
    &--bold {
      display: block;
      font-weight: 700;
    }
    @include MB {
      font-size: m(25);
      line-height: m(40);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    &-left {
      flex-basis: 752px;
      flex: 1 0;
      margin-right: 70px;
    }
    &-right {
      flex-basis: 674px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  .info {
    display: flex;
    &__content {
      margin-left: p(25);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: Montserrat;
      font-size: p(22);
      line-height: p(35);
      font-weight: 700;
      color: #ffffff;
    }
  }

  .row {
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 30px;
    margin-top: 63px;

    .col {
      width: 100%;
    }

    .form-group {
      input {
        width: 100%;
        background-color: transparent;
        border-bottom: 2px solid white;
        padding: p(17) 0;
        font-family: Montserrat;
        font-size: p(18);
        line-height: p(22);
        font-weight: 600;
        color: #ffffff;

        &::placeholder {
          font-family: Montserrat;
          font-size: p(18);
          line-height: p(22);
          font-weight: 600;
          color: #ffffff;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
