:root {
    --white-color: #fff;
    --black-color: #000;
    --border-color: #dbdbdb;

}
.row {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
}
.col {
        display: flex;
        margin-left: 4px;
        margin-right: 4px;
        width: 50%;
        justify-content: space-between;
}
