@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-ExtraBold.ttf);
}
