@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-ExtraBold.ttf);
}
