@import "general";

.container {
    padding-left: p(90);
    padding-right: p(90);

    @include MB {
        padding-left: m(20);
        padding-right: m(20);
    }
}

footer {
    margin-top: p(52);

    .top_ft {
        background: #F2F2F2;
        padding: p(33) 0 p(57) 0;

        .wrapper_ft_content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: p(86);

            .box_ft {
                .img_ft {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: p(20);

                    a {
                        img {
                            width: p(215);
                            height: p(80);
                        }
                    }
                }

                h1 {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: p(20);
                    line-height: p(25);
                    text-align: center;
                    margin-bottom: p(12);
                    color: #333333;
                }

                p {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 400;
                    font-size: p(16);
                    line-height: p(20);
                    text-align: center;
                    color: #333333;
                    margin-bottom: p(20);
                }

                .fanpage {
                    display: flex;
                    justify-content: center;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .ft_item {
                h3 {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: p(20);
                    line-height: p(25);
                    margin-bottom: p(12);
                    color: #333333;

                }

                .box_hot {
                    display: flex;
                    align-items: center;
                    background: #DD3E5E;
                    border-radius: p(10);
                    padding: p(8) p(15);
                    width: p(276);
                    margin-bottom: p(20);

                    .img_call {
                        img {
                            width: p(24);
                            height: p(24);
                        }
                    }

                    .txt {
                        margin-left: p(10);

                        span {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 700;
                            font-size: p(18);
                            line-height: p(22);

                            color: #FFFFFF;

                        }
                    }
                }

                p {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 400;
                    font-size: p(16);
                    line-height: p(20);
                    color: #333333;
                }

                .content_ft {
                    li {
                        display: flex;
                        align-items: center;
                        padding-bottom: p(16);

                        .img_ft {
                            margin-right: p(7.67);

                            img {
                                width: p(16.67);
                                height: p(13.33);
                            }
                            &.ft_map{
                                img{
                                    width: p(11.67);
                                    height: p(16.22);
                                }
                            }
                        }

                        a {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 400;
                            font-size: p(16);
                            line-height: p(20);
                            color: #333333;
                        }
                    }
                }

                .certi {
                    display: flex;
                    align-items: center;

                    .bct {
                        img {
                            width: p(150);
                            height: p(56);
                        }

                    }

                    .dmca {
                        margin-left: p(12.26);

                        img {
                            width: p(104);
                            height: p(36.35);
                        }
                    }
                }
            }
        }
    }

    .bottom_ft {
        background: #DD3E5E;
        padding: p(32) 0 p(39) 0;

        .wraper_btft {
            display: grid;
            grid-template-columns: auto auto;
        }

        .content_ft1 {
            h3 {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: p(18);
                line-height: p(22);
                width: p(425);

                color: #FFFFFF;
                margin-bottom: p(15);
            }

            .content_ul {
                li {
                    padding-bottom: p(10);

                    a {
                        font-family: 'Quicksand-regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: p(16);
                        line-height: p(20);
                        color: #FFFFFF;
                    }

                    p {
                        font-family: 'Quicksand-regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: p(16);
                        line-height: p(20);
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.no_overflow {
    overflow: inherit;
}