@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@use "sass:math";
@font-face {
  font-family: 'Quicksand';
  src: url("../assets/fonts/static/Quicksand-Medium.ttf");
}

@font-face {
  font-family: 'Quicksand-regular';
  src: url("../assets/fonts/static/Quicksand-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
li {
  list-style: none;
}

@media (min-width: 1920px) {
  .container {
    padding-left: 10.9375vw !important;
    padding-right: 10.9375vw !important;
  }
}

.container {
  overflow: hidden;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a:hover {
  text-decoration: none;
}

#more {
  display: none;
}

#more1 {
  display: none;
}

.active_height {
  max-height: inherit !important;
}

.active_height_max {
  max-height: 0 !important;
}

.container {
  padding-left: 4.6875vw;
  padding-right: 4.6875vw;
}

@media (max-width: 620px) {
  .container {
    padding-left: 4.83092vw;
    padding-right: 4.83092vw;
  }
}

footer {
  margin-top: 2.70833vw;
}

footer .top_ft {
  background: #F2F2F2;
  padding: 1.71875vw 0 2.96875vw 0;
}

footer .top_ft .wrapper_ft_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4.47917vw;
}

footer .top_ft .wrapper_ft_content .box_ft .img_ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.04167vw;
}

footer .top_ft .wrapper_ft_content .box_ft .img_ft a img {
  width: 11.19792vw;
  height: 4.16667vw;
}

footer .top_ft .wrapper_ft_content .box_ft h1 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 1.04167vw;
  line-height: 1.30208vw;
  text-align: center;
  margin-bottom: 0.625vw;
  color: #333333;
}

footer .top_ft .wrapper_ft_content .box_ft p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 1.04167vw;
  text-align: center;
  color: #333333;
  margin-bottom: 1.04167vw;
}

footer .top_ft .wrapper_ft_content .box_ft .fanpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .top_ft .wrapper_ft_content .box_ft .fanpage img {
  max-width: 100%;
  height: auto;
}

footer .top_ft .wrapper_ft_content .ft_item h3 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 1.04167vw;
  line-height: 1.30208vw;
  margin-bottom: 0.625vw;
  color: #333333;
}

footer .top_ft .wrapper_ft_content .ft_item .box_hot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DD3E5E;
  border-radius: 0.52083vw;
  padding: 0.41667vw 0.78125vw;
  width: 14.375vw;
  margin-bottom: 1.04167vw;
}

footer .top_ft .wrapper_ft_content .ft_item .box_hot .img_call img {
  width: 1.25vw;
  height: 1.25vw;
}

footer .top_ft .wrapper_ft_content .ft_item .box_hot .txt {
  margin-left: 0.52083vw;
}

footer .top_ft .wrapper_ft_content .ft_item .box_hot .txt span {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  color: #FFFFFF;
}

footer .top_ft .wrapper_ft_content .ft_item p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 1.04167vw;
  color: #333333;
}

footer .top_ft .wrapper_ft_content .ft_item .content_ft li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.83333vw;
}

footer .top_ft .wrapper_ft_content .ft_item .content_ft li .img_ft {
  margin-right: 0.39948vw;
}

footer .top_ft .wrapper_ft_content .ft_item .content_ft li .img_ft img {
  width: 0.86823vw;
  height: 0.69427vw;
}

footer .top_ft .wrapper_ft_content .ft_item .content_ft li .img_ft.ft_map img {
  width: 0.60781vw;
  height: 0.84479vw;
}

footer .top_ft .wrapper_ft_content .ft_item .content_ft li a {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 1.04167vw;
  color: #333333;
}

footer .top_ft .wrapper_ft_content .ft_item .certi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top_ft .wrapper_ft_content .ft_item .certi .bct img {
  width: 7.8125vw;
  height: 2.91667vw;
}

footer .top_ft .wrapper_ft_content .ft_item .certi .dmca {
  margin-left: 0.63854vw;
}

footer .top_ft .wrapper_ft_content .ft_item .certi .dmca img {
  width: 5.41667vw;
  height: 1.89323vw;
}

footer .bottom_ft {
  background: #DD3E5E;
  padding: 1.66667vw 0 2.03125vw 0;
}

footer .bottom_ft .wraper_btft {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

footer .bottom_ft .content_ft1 h3 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.14583vw;
  width: 22.13542vw;
  color: #FFFFFF;
  margin-bottom: 0.78125vw;
}

footer .bottom_ft .content_ft1 .content_ul li {
  padding-bottom: 0.52083vw;
}

footer .bottom_ft .content_ft1 .content_ul li a {
  font-family: 'Quicksand-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 1.04167vw;
  color: #FFFFFF;
}

footer .bottom_ft .content_ft1 .content_ul li p {
  font-family: 'Quicksand-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 1.04167vw;
  color: #FFFFFF;
}

.no_overflow {
  overflow: inherit;
}
/*# sourceMappingURL=footer.css.map */